
body {
  height: 100%;
  width: 100%;
  margin: auto; /* margin: 0px; */
  overflow: auto;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 400px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

ul {
    list-style: none;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 5vw; */
    /* padding-right: 5vw; */
    padding: 3vh 12% 3vh;
}

.header,
.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 36px;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 3vh 12% 3vh;
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
}

.header-links {
    display: flex;
    /* flex: 1 1 0; */
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    /* padding: 10px; */
    gap: 36px
}

#header-type {
    background-color: #1F2937;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

#quot-type {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

#boxed {
    border-radius: 25px;
    border: 4px solid #3882F6;
    padding: 20px;
    width: 100px;
    height: 100px;
    /* background-image: url(paper.gif); */
    /* background-position: left top; */
    /* background-repeat: repeat; */
}